body {
background: #f3f2f3;
color: #000000;
font-family: 'EB Garamond', serif;
font-size: 12px;
background-image:url(bgg.jpg) ;
background-attachment: fixed;
background-size: cover;
background-repeat: no-repeat;


}

#wrapper{
  margin: 0 auto;
    width: 1036px;
    height: 1200px;
}

#header {
     background-image: url(map.jpg);
      background-repeat: no-repeat;
      background-size: 930px 368px;
      width: 900px;
      height: 230px;
}
#bg{
      background-image: url(map.jpg);
}

.text{
      padding-left: 208px;
}
#panel{
border:30px outset red;


}
#back{
      color: grey;

}

.ayak{
      color: #ffc107;
      font-size:33px;
      font-family: Bell MT;
      text-align: center;
}
.lor{
    color: #BA55D3;
    font-size: 20px;
    font-family: Arial;
}

}

#navigation {
      background: #a2a2a2;
      width: 900px;
      height: 20px;
      text-align: center;
      }

#menu {
      background: #333333;
      float: left;
      width: 200px;
      height: 624px;
      }
      
.a_text{
      text-decoration: none;
}

#content {
      width: 900px;
      }

.DPS{
    width: 900px;
    background: rgba(255, 255, 255, 0.80);
    box-shadow: 0 1px 2px #666;
}

.tabl{
    border: solid 3px;
    margin-right: 5px;
    margin-left: 10px;
    margin-right: 14px;
    margin-top: 15px;
    margin-bottom: 15px;
}
   
#footer {
      background: #838283;
      height: 80px;
      width: 900px;
      }
.colon {
      white-space: nowrap;
      margin-bottom: 8px;
}
.colom {
    background: rgba(255,255,255,.80);
    box-shadow: 0 1px 2px #666;
    white-space: normal;
    display: inline-block;
    border-style: solid;
    border-color: yellow;
    width: 292px;
    height: 920px;
    vertical-align: top;
}

.colons {
      margin-right: 4%;
}
.off {
    padding-top: 7px;
    color: #9932CC;
    font-size: 18px;
    margin-bottom: 5px;
    text-align: center;
}
.atack {
      color:#black ;
      font-size:16px ;
      font-weight: 500;
      margin: 0;
      text-align: center;
}

.ayaka{ 
      background-image: url(icon.png);
      width: 100px;
      height: 100px;
      background-repeat:no-repeat ;

}
.texts{
      text-align: left;
      font-size: 14px;
      color: #00008B;
      text-align: center;
    padding: 10px;
    width: 250px;
    margin: 0;
}
.icons1{
      display: block; 
      background-repeat: no-repeat;
      background-size: 100px 100px;
      text-align: center;

}

.H1{
  padding-top: 10px;
    padding-left: 15px;
}

.gold{
  width: 66.25px;
  height: 66.25px;
  background-image: url(https://static.wikia.nocookie.net/gensin-impact/images/7/76/Background_Item_5_Star.png);
}

.gold_ot{
  display: flex;
  margin-right: 100px;
  margin-left: 15px;
}

.ora{
    margin-top: 48px;
    margin-left: 10px;
    margin-bottom: 0;
}

.gold_icon{
      display: flex;
}

.DPS_Table{
  border: solid 2px;
  margin-left: 15px;
  margin-right: 15px;
}

/*Icons
.icons2{
      padding-left: 50px;
      display: block;
      background-repeat: no-repeat;
      background-size: 100px 100px;

}
.icons3{
      padding-left: 90px;
      display: block;
      background-repeat: no-repeat;
      background-size: 100px 100px;

}
*/
.discr{
    padding-left: 180px;
}

.cloo{
  
    justify-content: center;
    white-space: normal;
    border-style: solid;
    border-color: yellow;
    width: 895px;
    vertical-align: top;
    background: rgba(255,255,255,.80);
}

.colo{
  display: flex;
}

.colom1 {
    white-space: normal;
    display: inline-block;
    border-width: 34%;
    border-style: solid;
    border-color: yellow;
    width: 895px;
    height: 345px;
    vertical-align: top;
      background: rgba(255,255,255,.80);

}
.colom2{
      background: rgba(255,255,255,.80);
    box-shadow: 0 1px 2px #666;
    padding: 1rem;
    border-radius: .25rem;
    margin-bottom: 1rem;

}
.words{
      text-align: center;
      font-family: Lucida Console;
}